<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.book">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user'

    book2 emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Tools.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@style/inputcolor">
        </activity>
        <activity
            android:name=".Chat.activity.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/inputcolor">
        </activity>
        <activity android:name=".view.MainActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".view.PublishSecBookActivity"
             android:launchMode="singleTask"/>
        <activity android:name=".view.TestActivity"/>
        <activity android:name=".view.WelcomeActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity android:name=".view.ShareDetail">
       </activity>
        <activity android:name=".view.WriteComment"/>
        <activity android:name=".view.ZxingActivity"/>
        <activity android:name=".view.ModifyKuangActivity"/>
        <activity android:name=".view.ModifyUserDataActivity"/>
        <activity android:name=".view.PublishNoteActivity"/>
        <activity android:name=".view.MyNote"/>
        <activity android:name=".view.NoteDetailActivity"/>
        <activity android:name=".view.NoteItemBookActivity"/>
        <service
            android:name=".Chat.keepalive.ConnectionService">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
            </intent-filter>
        </service>
    </application>
</manifest>